<% size = local_assigns[:size] || :gallery %>
<div class="form-group<%= " has-error" if f.object.errors[:image_library_upload] %>">
  <div class="image_library-upload-field" data-thumb-size="<%= size %>">
    <%= f.hidden_field :image_library_upload_id %>
    <div class="image_library-field-tools">
      <%= button_tag "Choose or upload image",
        type: "button",
        data: { target: "#choose-upload-modal", toggle: "modal" },
        class: "btn btn-default image_library-choose-btn" %>
    </div>

    <div class="upload-choice-thumb">
      <% unless f.object.image_library_upload.nil? %>
        <%= image_tag f.object.image_library_upload.image.send(size).url,
                      class: "img-responsive" %>
      <% end %>
    </div>

    <div class="error-message">
      <%= f.object.errors[:image_library_upload].try(:first) %>
    </div>
  </div>
</div>
